body{
    padding: 20px;
    display: block;
}
*{
    display: inherit;
}
img, h1{
    margin: 0 auto;
}
a{
    text-align: center;
}
h1{
    width: 400px;
    padding: 32px;
    text-align: center;
    color: red;
}
img{
    width: 150px;
    height: auto;
    
}
h2{
    margin-top: 50px ;
}
.inline li{
    display: inline-block;
    margin: 0 10px;
}
.description{
    padding: 0 50px;
}
.step{
    margin-left: 30px ;
}